/dist/
/cabal-dev/
/.virtualenv/
/.hpc/
/.hsenv/
/.cabal-sandbox/
cabal.sandbox.config
cabal.config
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
*.prof
*.aux
*.hp
*.tix
scratchpad.hs
*~
[#]*[#]
.\#*
/data/
result
guest
*.qcow2
TAGS
tags
